In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#read the data
df = pd.read_csv('NYPD_Motor_Vehicle_Collisions.csv')
df.dtypes

/Users/zheqiwang/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

DATE                              object
TIME                              object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
UNIQUE KEY                         int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

In [16]:
df.head(-5)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/29/2019,0:00,BRONX,10453,40.848440,-73.910680,"(40.84844, -73.91068)",TOWNSEND AVENUE,EAST 176 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4122943,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,04/29/2019,0:00,QUEENS,11365,40.736595,-73.800130,"(40.736595, -73.80013)",169 STREET,65 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4122788,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
2,04/29/2019,0:00,QUEENS,11374,40.730503,-73.869800,"(40.730503, -73.8698)",ELIOT AVENUE,WETHEROLE STREET,NaN,...,NaN,NaN,NaN,NaN,4122525,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,04/29/2019,0:00,QUEENS,11413,40.670630,-73.756430,"(40.67063, -73.75643)",141 ROAD,SPRINGFIELD BOULEVARD,NaN,...,Unsafe Speed,Unspecified,Unspecified,NaN,4122775,Pick-up Truck,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN
4,04/29/2019,0:00,NaN,NaN,40.669796,-73.870570,"(40.669796, -73.87057)",EUCLID AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4122913,Pick-up Truck,NaN,NaN,NaN,NaN
5,04/29/2019,0:00,BROOKLYN,11226,40.641270,-73.958305,"(40.64127, -73.958305)",NaN,NaN,520 EAST 21 STREET,...,Unspecified,NaN,NaN,NaN,4122734,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
6,04/29/2019,0:12,MANHATTAN,10030,40.818306,-73.939040,"(40.818306, -73.93904)",NaN,NaN,127 WEST 141 STREET,...,Unspecified,NaN,NaN,NaN,4122116,Station Wagon/Sport Utility Vehicle,Tow Truck / Wrecker,NaN,NaN,NaN
7,04/29/2019,0:30,QUEENS,11419,40.693817,-73.822120,"(40.693817, -73.82212)",95 AVENUE,125 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4122488,Sedan,NaN,NaN,NaN,NaN
8,04/29/2019,0:35,QUEENS,11434,40.656160,-73.767360,"(40.65616, -73.76736)",ROCKAWAY BOULEVARD,BREWER BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,4122262,Sedan,Pick-up Truck,NaN,NaN,NaN
9,04/29/2019,0:44,NaN,NaN,40.816510,-73.889870,"(40.81651, -73.88987)",BARRETTO STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4122475,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
10,04/29/2019,0:50,NaN,NaN,40.745610,-73.847850,"(40.74561, -73.84785)",GRAND CENTRAL PKWY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4123615,Taxi,Sedan,NaN,NaN,NaN
11,04/29/2019,10:00,BRONX,10460,40.838390,-73.886060,"(40.83839, -73.88606)",BOSTON ROAD,HOE AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4122832,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
12,04/29/2019,10:00,BROOKLYN,11201,40.692715,-73.988730,"(40.692715, -73.98873)",NaN,NaN,345 ADAMS STREET,...,Unspecified,NaN,NaN,NaN,4123815,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
13,04/29/2019,10:00,QUEENS,11355,40.761130,-73.812270,"(40.76113, -73.81227)",SANFORD AVENUE,MURRAY STREET,NaN,...,Unspecified,NaN,NaN,NaN,4122550,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
14,04/29/2019,10:00,QUEENS,11372,40.749672,-73.879555,"(40.749672, -73.879555)",NaN,NaN,37-11 87 STREET,...,Other Vehicular,NaN,NaN,NaN,4122642,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
15,04/29/2019,10:00,STATEN ISLAND,10314,40.620270,-74.123580,"(40.62027, -74.12358)",MERRIMAN AVENUE,MANOR ROAD,NaN,...,NaN,NaN,NaN,NaN,4122977,Sedan,NaN,NaN,NaN,NaN
16,04/29/2019,10:00,NaN,NaN,40.760254,-73.967545,"(40.760254, -73.967545)",3 AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4122590,Box Truck,Pick-up Truck,NaN,NaN,NaN
17,04/29/2019,10:00,NaN,NaN,40.757470,-73.902794,"(40.75747, -73.902794)",31 AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4122869,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
18,04/29/2019,10:00,NaN,NaN,NaN,NaN,NaN,35 AVENUE,CLEARVIEW EXPRESSWAY,NaN,...,Unspecified,NaN,NaN,NaN,4122518,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
19,04/29/2019,10:04,NaN,NaN,40.633564,-74.015950,"(40.633564, -74.01595)",7 AVENUE,66 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4122551,Pick-up Truck,Sedan,NaN,NaN,NaN
20,04/29/2019,10:11,NaN,NaN,NaN,NaN,NaN,NARROWS ROAD SOUTH,HYLAN BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,4122747,Sedan,Sedan,NaN,NaN,NaN
21,04/29/2019,10:13,NaN,NaN,NaN,NaN,NaN,QUEENS BOULEVARD,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4122625,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
22,04/29/2019,10:17,BROOKLYN,11217,40.680730,-73.975060,"(40.68073, -73.97506)",NaN,NaN,226 FLATBUSH AVENUE,...,Unspecified,NaN,NaN,NaN,4122884,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
23,04/29/2019,10:20,BROOKLYN,11218,40.646110,-73.970780,"(40.64611, -73.97078)",CONEY ISLAND AVENUE,ALBEMARLE ROAD,NaN,...,Unspecified,NaN,NaN,NaN,4122735,Box Truck,Box Truck,NaN,NaN,NaN
24,04/29/2019,10:25,MANHATTAN,10035,40.802338,-73.933890,"(40.802338, -73.93389)",NaN,NaN,2425 2 AVENUE,...,Unspecified,NaN,NaN,NaN,4122719,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
25,04/29/2019,10:25,QUEENS,11356,40.787666,-73.834330,"(40.787666, -73.83433)",133 PLACE,11 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4122568,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
26,04/29/2019,10:25,NaN,NaN,40.717610,-74.013820,"(40.71761, -74.01382)",NORTH END AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4123804,Taxi,NaN,NaN,NaN,NaN
27,04/29/2019,10:25,MANHATTAN,10029,40.798622,-73.941630,"(40.798622, -73.94163)",EAST 116 STREET,LEXINGTON AVENUE,NaN,...,NaN,NaN,NaN,NaN,4122718,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
28,04/29/2019,10:30,BRONX,10455,40.816307,-73.908060,"(40.816307, -73.90806)",JACKSON AVENUE,WESTCHESTER AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4122573,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
29,04/29/2019,10:30,NaN,NaN,40.665535,-73.936990,"(40.665535, -73.93699)",CROWN STREET,NaN,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4123149,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1486756,07/01/2012,8:00,BROOKLYN,11233,40.683160,-73.938078,"(40.6831597, -73.9380784)",HALSEY STREET,MARCUS GARVEY BOULEVARD,NaN,...,Unspecified,Unspecified,NaN,NaN,182648,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
1486757,07/01/2012,8:00,QUEENS,11004,40.751826,-73.719206,"(40.7518264, -73.7192065)",LANGSTON AVENUE,260 STREET,NaN,...,Unspecified,NaN,NaN,NaN,219397,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1486758,07/01/2012,8:03,NaN,NaN,NaN,NaN,NaN,EASTERN PARKWAY,BUSHWICK AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,184520,OTHER,OTHER,NaN,NaN,NaN
1486759,07/01/2012,8:07,MANHATTAN,10009,40.721678,-73.980605,"(40.7216783, -73.9806054)",EAST 3 STREET,AVENUE C,NaN,...,Unspecified,NaN,NaN,NaN,13868,TAXI,TAXI,NaN,NaN,NaN
1486760,07/01/2012,8:08,BROOKLYN,11233,40.672791,-73.922215,"(40.6727913, -73.9222153)",RALPH AVENUE,PROSPECT PLACE,NaN,...,Unspecified,NaN,NaN,NaN,172550,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1486761,07/01/2012,8:15,QUEENS,11373,40.739979,-73.877108,"(40.7399795, -73.8771085)",87 STREET,CORONA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,254993,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1486762,07/01/2012,8:27,BROOKLYN,11216,40.680857,-73.938546,"(40.6808571, -73.9385457)",DECATUR STREET,ALBANY AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,179414,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
1486763,07/01/2012,8:27,NaN,NaN,40.708797,-73.727620,"(40.7087971, -73.72762)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3016724,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1486764,07/01/2012,8:30,NaN,NaN,NaN,NaN,NaN,WEST 181 STREET,RIVERSIDE DRIVE,NaN,...,NaN,NaN,NaN,NaN,70031,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1486765,07/01/2012,8:34,BROOKLYN,11213,40.668798,-73.931120,"(40.6687978, -73.9311201)",EASTERN PARKWAY,UTICA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,172551,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
1486766,07/01/2012,8:37,QUEENS,11435,40.694545,-73.802112,"(40.6945453, -73.802112)",SOUTH ROAD,SUTPHIN BOULEVARD,NaN,...,NaN,NaN,NaN,NaN,208724,UNKNOWN,NaN,NaN,NaN,NaN
1486767,07/01/2012,8:43,NaN,NaN,NaN,NaN,NaN,HORACE HARDING EXPRESSWAY,UTOPIA PARKWAY,NaN,...,Unspecified,NaN,NaN,NaN,233142,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
1486768,07/01/2012,8:58,BRONX,10466,40.891840,-73.862740,"(40.8918398, -73.8627401)",BRONX BOULEVARD,EAST 229 STREET,NaN,...,Unspecified,NaN,NaN,NaN,94868,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
1486769,07/01/2012,9:00,QUEENS,11101,40.744131,-73.927047,"(40.7441309, -73.9270473)",38 STREET,QUEENS BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,238643,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1486770,07/01/2012,9:00,MANHATTAN,10022,40.757859,-73.975592,"(40.7578587, -73.975592)",EAST 50 STREET,MADISON AVENUE,NaN,...,NaN,NaN,NaN,NaN,37634,TAXI,NaN,NaN,NaN,NaN
1486771,07/01/2012,9:15,BROOKLYN,11233,40.675380,-73.908196,"(40.6753803, -73.9081956)",PACIFIC STREET,EASTERN PARKWAY,NaN,...,Unspecified,NaN,NaN,NaN,160103,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1486772,07/01/2012,9:15,QUEENS,11421,40.696308,-73.851549,"(40.6963077, -73.8515486)",94 STREET,85 ROAD,NaN,...,Unspecified,NaN,NaN,NaN,203690,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1486773,07/01/2012,9:15,QUEENS,11429,40.711860,-73.735538,"(40.7118601, -73.7355383)",219 STREET,104 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,219394,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1486774,07/01/2012,9:15,STATEN ISLAND,10310,40.634748,-74.112253,"(40.6347476, -74.1122528)",CASTLETON AVENUE,BEMENT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,284646,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1486775,07/01/2012,9:24,QUEENS,11411,40.690917,-73.728179,"(40.6909168, -73.7281786)",LINDEN BOULEVARD,234 STREET,NaN,...,Unspecified,NaN,NaN,NaN,219398,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1486776,07/01/2012,9:30,BRONX,10475,40.861637,-73.824326,"(40.8616372, -73.8243256)",HUNTER AVENUE,EARHART LANE,NaN,...,Unspecified,NaN,NaN,NaN,88535,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1486777,07/01/2012,9:30,BROOKLYN,11219,40.626826,-73.996790,"(40.626826, -73.9967902)",61 STREET,NEW UTRECHT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,129899,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1486778,07/01/2012,9:30,QUEENS,11368,40.755336,-73.843245,"(40.7553365, -73.8432452)",ROOSEVELT AVENUE,126 STREET,NaN,...,Unspecified,Unspecified,NaN,NaN,254997,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
1486779,07/01/2012,9:30,BROOKLYN,11207,40.678163,-73.897477,"(40.6781627, -73.8974769)",JAMAICA AVENUE,PENNSYLVANIA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,163374,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1486780,07/01/2012,9:39,BROOKLYN,11226,40.646518,-73.958105,"(40.6465177, -73.958105)",TILDEN AVENUE,FLATBUSH AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,147454,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1486781,07/01/2012,9:40,BRONX,10462,40.839882,-73.857658,"(40.8398819, -73.8576576)",METROPOLITAN AVENUE,MAPLE DRIVE,NaN,...,Unspecified,NaN,NaN,NaN,80827,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1486782,07/01/2012,9:40,MANHATTAN,10002,40.714069,-73.997504,"(40.7140687, -73.9975038)",DIVISION STREET,CATHERINE STREET,NaN,...,Driver Inexperience,NaN,NaN,NaN,5294,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
1486783,07/01/2012,9:40,QUEENS,11354,40.764455,-73.831773,"(40.7644548, -73.831773)",35 AVENUE,FARRINGTON STREET,NaN,...,Unspecified,NaN,NaN,NaN,245559,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1486784,07/01/2012,9:40,QUEENS,11369,40.767470,-73.881859,"(40.7674704, -73.8818593)",23 AVENUE,88 STREET,NaN,...,Unspecified,NaN,NaN,NaN,279641,PICK-UP TRUCK,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1486785,07/01/2012,9:40,QUEENS,11370,40.758743,-73.890690,"(40.7587426, -73.8906895)",31 AVENUE,77 STREET,NaN,...,Unspecified,NaN,NaN,NaN,279639,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN

In [23]:
totalinjured = 0
for item in df["NUMBER OF PERSONS INJURED"]:
    if item == item:
        totalinjured = totalinjured + item
        #print(totalinjured)
print(totalinjured)

385743.0